body {
    text-align: center;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 400;
}

#logo {
    height: 100px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 50%;
    transform: rotateY(30deg);
}

h1 {
    font-size: 100px;
    transform: rotateY(30deg);
}

button {
    border-radius: 30px;
    background: white;
    border: 5px solid orange;
    padding: 5px;
    font-weight: bold;
    transform: rotateY(30deg);
    transition: transform ease-in 0.5s, background-color ease-in 0.5s, color ease-in 0.5s, border-radius ease-in 0.5s;
}

button:hover {
    border-radius: 0;
    transform: scale(1.1);
    background-color: orange;
    color: white;
}

#intro {
    display: flex;
    padding: 50px;
    width: 100%;
    border: 10px solid orange;
}

#file_img {
    height: 200px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 50%;
}

#info {
    margin-right: 100px;
    margin-left: 300px;
    perspective: 200px;
}
